@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;700&display=swap');

html {
  font-family: 'Roboto Slab', serif;
  background-color: #F5F5F5; /* Grigio molto chiaro */
}

/* Style du menu */
.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #ECEFF4; /* Grigio leggermente bluastro */
  color: #495057; /* Grigio scuro */
  margin-left: 0;
  margin-right: 0;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
}

.menu > a {
  display: inline-flex;
  padding: .5rem 0;
  text-decoration: none;
  font-size: 1.2rem;
  color: #4B0082; /* Blu violaceo */
}

.menu > a:hover {
  text-decoration: underline;
  color: #8A2BE2; /* Viola più intenso */
}

.menu > a.courante {
  text-decoration: underline;
}

/* En-tête principal */
#title-block-header {
  margin: 4rem auto;
}

hr {
  border: none;
  padding-bottom: 1.5em;
}

/* Corps */
body {
  max-width: 60em;
  margin: 1rem auto;
  padding: 2rem 0rem;
  box-shadow: 2px 0 4px rgba(204, 204, 204, 0.5), -2px 0 4px rgba(204, 204, 204, 0.5);
}

.contenu-principal {
  margin-top: 4rem;
  padding-left: 5em;
  padding-right: 5em;
}

/* Titres */
h1, h2 {
  text-align: center;
  color: #4B0082; /* Indigo scuro */
}

h1 {
  padding-top: 2rem;
}

h2 {
  margin-bottom: 5rem;
  color: #4B0082; /* Indigo scuro */
}

h3, h4 {
  font-size: 1.2em;
  color: #333333; /* Grigio */
}

/* Paragraphes */
p {
  font-size: 1.1em;
  text-align: justify;
  color: #333333; /* Grigio */
}
